name: Run tests

on:
  push:
    branches: [ "main", "renovate/**" ]
  pull_request:
    branches: [ "**" ]

permissions: { }

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-24.04
    permissions: { }
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install nodejs
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          cache: true

      - name: Install dependencies
        run: pnpm install

      - name: Run tests with coverage
        run: pnpm run coverage
